<div class="sidebar-container">
  <div class="menu-header">
    <span>&#9776;</span> </div>
  
  <nav class="main-nav">
    <ul>
      <li><a href="#" class="active">Inicio</a></li>
      <li><a href="#">Buscar</a></li>
      <li><a href="#">Tu Biblioteca</a></li>
    </ul>
  </nav>

  <div class="playlist-nav">
    <p>PLAYLISTS</p>
    <ul>
      <li><a href="#">MAP OF THE SOUL 7</a></li>
      <li><a href="#">Mis Éxitos</a></li>
      <li><a href="#">Rock Clásico</a></li>
    </ul>
  </div>
</div>